<!-- name="myfile[]" -->
<!-- <p-fileUpload  customUpload="true" (onSelect)="onFileSelect($event)" multiple="multiple"></p-fileUpload> -->

<!-- <p-fileUpload name="files" url="/MyController/Save" 
    (onBeforeSend)="onBeforeSendFile($event)" 
    (onUpload)="onUploadFile($event)" 
    (onError)="onErrorFile($event)" 
    (onBeforeUpload)="onBeforeUploadFoto($event)" 
    multiple="multiple" 
    chooseLabel="Select" 
    uploadLabel="Load" 
    cancelLabel="Cancel">
</p-fileUpload> -->

<p-fileUpload name="files" [showUploadButton]="false" (onSelect)="dealWithFiles($event)" multiple="multiple">
</p-fileUpload>


<button class="btn btn-primary">enviar arquivos<i class="fas fa-upload"></i></button>